@import url("https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@300&family=Gowun+Dodum&family=Merriweather:ital,wght@1,700&family=Noto+Serif+KR:wght@200&family=Source+Sans+Pro:wght@300&display=swap");
/*
  글꼴
  font-family: 'Anek Devanagari', sans-serif; -> mainbox2 designers, content writers...
  font-family: 'Gowun Dodum', sans-serif; -> 한글
  font-family: 'Merriweather', serif; -> 
  font-family: 'Noto Serif KR', serif;
  font-family: 'Source Sans Pro', sans-serif;
 */
* {
  margin: 0px;
  padding: 0px;
}
body {
  overflow-x: auto;
  overflow-y: scroll;
  height: 100%;
  margin-bottom: 100px;
}

/* WH */
.navbar {
  box-sizing: border-box;
  background: #eff1f2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid #a0138e;
  width: 100%;
  height: 50px;
}
.btnstart {
  width: 100px;
  height: 40px;
  background-color: #eff1f2;
  color: #a0138e;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
  border: 2px solid #a0138e;
}

.banner {
  min-width: 980px;
  height: 70px;
  padding: 0 10px 0 10px;
  display: flex;
  align-items: center;
}

.banner-center {
  margin: 0px auto;
  width: 920px;
  float: left;
}

.logo {
  float:left;
}

.creative {
  font-size: 25px;
  font-weight: bold;
  font-family: "book antiqua", serif;
}

.corner {
  font-size: 25px;
  font-style: italic;
  font-family: "book antiqua", serif;
}
.menu {
  float:right;
  margin: 0px auto;
  padding: 3px 0 0 0;
  font-size: 13px;
  text-align:center;
}

.menu > a {
  text-decoration: none;
  padding: 0 6px 0 6px;
}
.main {
  color: rgb(252, 211, 7);
}

/* HJ */
.mainbox1 {
  min-width: 980px;
}
.backgrond{
  position: relative;
}
.content1{
  margin-left: 0px;
  font-family: "Gowun Dodum", sans-serif;
  min-width: 980px;
  position: absolute;
  color: white;
  top:180px;
  left:390px;
  font-size: 65px;
}
.content2{
  font-family: "Gowun Dodum", sans-serif;
  position: absolute;
  color: white;
  top: 240px;;
  left:390px;
  font-size: 65px;
}
.cross{
  position: absolute;
  top: 270px;
  left: 670px;
}
.content3{
  font-family: "Gowun Dodum", sans-serif;
  min-width: 980px;
  position: absolute;
  color: white;
  top: 300px;
  left:390px;
  font-size: 65px;
}
.content4{
  font-family: "Gowun Dodum", sans-serif;
  min-width: 980px;
  position: absolute;
  color: white;
  top: 363px;;
  left:390px;
  font-size: 65px;
}
.content5{
  font-family: "Gowun Dodum", sans-serif;
  min-width: 980px;
  position: absolute;
  color: white;
  top: 510px;
  left:390px;
  font-size: 30px;
}
.button1{
  font-family: "Gowun Dodum", sans-serif;
  position: absolute;
  border: 2.5px solid white;
  padding: 10px;
  height: 20px;
  width: 130px;
  top: 580px;
  left:390px;
  color: white;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
}
.button2{
  font-family: "Gowun Dodum", sans-serif;
  position: absolute;
  border: 2.5px solid white;
  padding: 10px;
  height: 20px;
  width: 130px;
  top: 580px;
  left:580px;
  color: white;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
}
/* YW */
.mainbox2 {
  min-width: 980px;
  height: 160px;
  background-color: rgb(252, 211, 7);
  color: black;
  padding: 75px;
  display: flex;
}
.mainbox2 img {
  margin-top: 17px;
}
.mainbox2-center {
  margin: 0px auto;
}
.designer,
.contents-writer,
.ad-dir,
.music-pd {
  float: left;
  text-align: center;
  width: 200px;
  height: 200px;
}
.music-pd {
  margin-right: 0px;
}
.mainbox2-circle {
  width: 102px;
  height: 102px;
  border-radius: 70%;
  background-color: white;
  margin: 0px auto;
}
.mainbox2-text {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  font-family: "Anek Devanagari", sans-serif;
  letter-spacing: 2.1px;
  white-space: nowrap;
}
.mainbox3 {
  min-width: 980px;
  height: auto;
  background-color: white;
  color: black;
  padding: 50px;
  font-family: "Gowun Dodum", sans-serif;
  display: flex;
}
.mainbox3-center {
  margin: 0px auto;
  width: 920px;
}
.mainbox3-head {
  margin-bottom: 35px;
}
.mainbox3-head span {
  font-family: "Merriweather", serif;
  font-size: 35px;
  margin-left: 10px;
}
.kor-head {
  margin-left: 44px;
  font-size: 25px;
}
.ceo-1,
.ceo-2,
.consult-1,
.consult-2 {
  text-align: center;
  margin-right: 15px;
  float: left;
  color: rgb(133, 133, 133);
}
.mainbox3-wrap2-1 {
  float: left;
  width: 450px;
  margin-top: 40px;
}
.mainbox3-wrap2-2 {
  float: right;
  width: 450px;
  margin-top: 40px;
}

/* SY */
.mainbox4 {
  min-width: 980px;
  background-color: rgb(33, 33, 33);
  color: white;
  padding: 50px;
  display: flex;
  font-family: "Gowun Dodum", sans-serif;
}
.mainbox4_center {
  margin: 0px auto;
}
.mainbox4_text {
  margin-bottom: 30px;
}
.mainbox4_text span {
  font-family: "Merriweather", serif;
  font-size: 55px;
  margin-left: 10px;
}
.mainbox4_text div {
  font-size: 20px;
  margin-top: 15px;
}
.mainbox4_wrap {
  overflow: hidden;
  margin-top: 20px;
  padding: 20px 0px;
}
.wrap1 {
  font-size: 18px;
  float: left;
  margin-right: 100px;
}
.wrap1 img {
  margin-right: 15px;
}
.wrap1_address {
  margin-bottom: 5px;
}
.wrap2 {
  float: right;
}
.wrap2 hr {
  background-color: white;
  height: 1px;
  width: 100%;
  margin-bottom: 35px;
}
.wrap2_text {
  font-size: 30px;
  margin-bottom: 15px;
}
.form_wrap {
  overflow: hidden;
}
.form_wrap1 {
  float: left;
}
.form_wrap2 {
  float: right;
}
form * {
  font-family: "Gowun Dodum", sans-serif;
  font-size: 16px;
  color: black;
}
form input:hover,
input:focus,
textarea:hover,
textarea:focus {
  outline: none;
  border: 2.5px solid #fcd307;
}
.form_wrap input {
  padding: 5px 3px 5px 24px;
  margin-bottom: 5px;
}
.form_wrap textarea {
  width: 200px;
  height: 95px;
  margin-left: 10px;
  padding: 10px;
}
.form_button {
  margin-top: 5px;
  text-align: right;
}
.form_button button {
  width: 100px;
  height: 30px;
  font-family: "Gowun Dodum", sans-serif;
  text-align: center;
  border: none;
  background-color: #fcd307;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 0.4s;
  transition-timing-function: ease;
}
.form_button button:hover {
  background-color: white;
}

/* WH */

.footer {
  min-width: 980px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-center {
  width: 920px;
  margin: 0px auto;
}
.copyright {
float: left;
font-family: "Gowun Dodum", sans-serif;
font-size: 11px;
padding: 20px 30px 0 0;
margin: 0px auto;
}

.info {
float: left;
font-family: "Gowun Dodum", sans-serif;
font-size: 11px;
padding: 20px 0 0 0;
}

.info-adress,
.info-img {
  float:left;
}