@import url("https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@300&family=Gowun+Dodum&family=Merriweather:ital,wght@1,700&family=Noto+Serif+KR:wght@200&family=Source+Sans+Pro:wght@300&display=swap");
/*
  글꼴
  font-family: 'Anek Devanagari', sans-serif; -> mainbox2 designers, content writers...
  font-family: 'Gowun Dodum', sans-serif; -> 한글
  font-family: 'Merriweather', serif; -> 
  font-family: 'Noto Serif KR', serif;
  font-family: 'Source Sans Pro', sans-serif;
 */
* {
  margin: 0px;
  padding: 0px;
}
body {
  overflow-x: auto;
  overflow-y: scroll;
  height: 100%;
}

/* WH */
.navbar {
  box-sizing: border-box;
  background: #eff1f2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid #a0138e;
  width: 100%;
  height: 50px;
}
.btnstart {
    width:100px;
    height:40px;
    background-color: #eff1f2;
    color: #a0138e;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    border:2px solid #a0138e;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 980px;
    width:100%
    height: 70px;
}

.creative {
    font-size: 25px;
    font-weight: bold;
    font-family: 'book antiqua',serif;
}

.corner {
    font-size: 25px;
    font-style: italic;
    font-family: 'book antiqua',serif;
}
.menu {
    float: right;
    text-align:left;
    line-height:20px;
    font-size: 13px;
}

.menu>a {
    text-decoration:none
}
.main {
    color:rgb(252, 211, 7);
}

}
/* HJ */
.mainbox1 {
  min-width: 980px;
  height: auto;
}

/* YW */
.mainbox2 {
  min-width: 980px;
  background-color: rgb(252, 211, 7);
}
.mainbox3 {
  min-width: 980px;
  height: auto;
}

/* SY */
.mainbox4 {
  min-width: 980px;
  background-color: rgb(33, 33, 33);
  color: white;
  padding: 50px;
  display: flex;
  font-family: "Gowun Dodum", sans-serif;
}
.mainbox4_center {
  margin: 0px auto;
}
.mainbox4_text {
  margin-bottom: 30px;
}
.mainbox4_text span {
  font-family: "Merriweather", serif;
  font-size: 35px;
  margin-left: 10px;
}
.mainbox4_wrap {
  overflow: hidden;
}
.wrap1 {
  float: left;
  margin-right: 100px;
}
.wrap2 {
  float: right;
}

/* WH */

.footer {
    height: 60px;
    min-width: 980px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center   
}

.copyright {
  padding: 30px;
  display: inline-block;
  font-family: "Gowun Dodum", sans-serif;
  font-size: 1vw; 
}

.info {
  padding: 30px;
  display: inline-block;
  line-height: 20px;
  font-family: "Gowun Dodum", sans-serif;
  font-size: 1vw;
}

.url_img {
  display: inline-block;
}